
    html {
        background :linear-gradient(163deg, #4964da 0%, rgba(146, 73, 221, 0.8) 11.8%, rgba(176, 60, 196, 0.6) 23.6%, rgba(192, 55, 173, 0.4) 35.4%, rgba(217, 46, 116, 0) 59%), radial-gradient(100% 100% at 10% 100%, #fdd575 0%, #fcc06a 14.29%, #fbaa63 28.57%, #f99262 42.86%, #f77868 57.14%, #f55973 71.43%, #d22e8c 100%); 
        width: 100%;
        height:100%;
    }

    .container {
        background-color: white;
        border-radius: 20px;
        width: 70%;
        margin: auto; 
        text-align: center;
    }

    .game {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        padding-bottom: 5%;
    }

    .scores {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    h1 {
        color: white;
        text-align: center;
        margin-bottom: 20px ;
    }

    h5 {
        font-size: 1.5em;
    }


    p {
        font-size: 2em;
    }


    .item {
        border: 1px solid #d22e8c;;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 1.3em ;
    }

    #start {
        color: #d22e8c;
        background-color: white;
        border: none;
        border-radius: 5px;
    }

    .player {
        margin-bottom: 0;
        padding-bottom: 0;

    }

    .hidden {
        display: none;
    }


    .notHidden {
        margin-top : 0 ; 
        padding-top : 0; 
        color: #f55973;
    }

    .design {
        height :1rem    }

   

      
      
